 .edit-button, .delete-button {
        cursor: pointer;
        margin-right: 5px;
        padding: 5px 5px;
        border-radius: 5px;
        margin-bottom:5px;
  margin-top:5px;
      }
      .edit-button {
        background-color: #4CAF50; /* Green */
        color: white;
        border: none;
      }
      .edit-button:hover {
        background-color: #45a049;
      }
      .delete-button {
        background-color: #f44336; /* Red */
        color: white;
        border: none;
      }
      .delete-button:hover {
        background-color: #d32f2f;
      }
td{
 margin-bottom:20px;
 margin-top:20px;}
